.border-soft {
    border-color: #f4f6fc !important;
  }
  
.border-black {
    border-color: #24262b !important;
}

.border-purple {
    border-color: #8965e0 !important;
}

.alert-success {
    background-color: #029f5a;
    border-color: #4fd69c;
  }
  